<!DOCTYPE html>
<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice Aplication</h1>
    <hr />
    <div class="container">
      <ul>
        <h2>Try this one out: </h2><li><a href="api/2015-12-25" onclick="fetchData('/api/2015-12-25'); return false;">2015-12-25</a></li>
        <h2>Or this : </h2><li><a href="api/1451001600000" onclick="fetchData('/api/1451001600000'); return false;">1451001600000</a></li>
      </ul>

      <h2>Output:</h2>
      <p id="showApi"></p>
    </div>
    <hr />
    <div class="footer">
      <p>By: </p><a href="https://github.com/stankoris" target="_blank">https://github.com/stankoris</a>
    </div>
    <hr />
    <script>
      function fetchData(url) {
        fetch(url)
          .then(response => response.json())
          .then(data => {
            document.getElementById('showApi').innerHTML = `<code>{"unix": ${data.unix}, "utc": "${data.utc}"}</code>`;
          })
          .catch(error => console.error('Error:', error));
      }
    </script>
  </body>
</html>
