<!DOCTYPE html>
<html>
   <head>
      <title>Timestamp Microservice</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice Aplication</h1>
    <hr />
    <div class="container">
      <h2>Example Usage:</h2>
      <ul>
        <p>Try this one out: </p><li><a href="api/2015-12-25">2015-12-25</a></li>
        <p>Or this : </p><li><a href="api/1451001600000">1451001600000</a></li>
      </ul>

      <h2>Example Output:</h2>
      <p>
        <code>{"unix":1451001600000, "utc":"Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">

    </div>

  </body>
</html>
